Repository pcdshub/lucid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcdshub/ui-sme, @pcdshub/python-reviewers, @pcdshub/software-admin

.github/CODEOWNERS:

# default group
* @pcdshub/ui-sme

# language-specific group(s)
## PYTHON files
*.py @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyi @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyc @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyw @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyx @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyd @pcdshub/python-reviewers @pcdshub/ui-sme

# github folder holds administrative files
.github/** @pcdshub/software-admin

FIX: typo
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

TST/MNT: tweaks to and for making the test suite run again
  lucid/dock.py
  lucid/tests/test_dock.py
  lucid/tests/test_main_window.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

DOC: update dock docs
  docs/source/dock.rst
  lucid/dock.py
Owners: @pcdshub/ui-sme, @pcdshub/python-reviewers

TST/FIX: multidock unit test and bugfix
  lucid/dock.py
  lucid/tests/test_dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: remove attached_widgets tracking, no longer used and having bad interactions with hidden multidocks
  lucid/dock.py
  lucid/tests/test_dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

BLD: remove no longer used dependencies from conda recipe
  conda-recipe/meta.yaml
Owners: @pcdshub/ui-sme

ENH: replace mega docked suites with flexible open many options
  lucid/dock.py
  lucid/overview.py
  lucid/utils.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: avoid making multiple displays for the same device from the open all feature
  lucid/utils.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

API: remove unused argument that conceptually breaks the cache
  lucid/utils.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: restore original collapsible size rules when grid has only 1 column
  lucid/main_window.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

TST: adjust test for changed API, move fixture to conftest because this one test needs at least one pre-existing LucidDock
  lucid/tests/conftest.py
  lucid/tests/test_dock.py
  lucid/tests/test_overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

Auto-update from Github Actions Workflow
  master/_images/lucid_dock.png
  master/_sources/dock.rst.txt
  master/_sources/index.rst.txt
  master/_sources/toolbar.rst.txt
  master/_static/base-stemmer.js
  master/_static/css/theme.css
  master/_static/doctools.js
  master/_static/documentation_options.js
  master/_static/english-stemmer.js
  master/_static/language_data.js
  master/_static/lucid_dock.png
  master/_static/searchtools.js
  master/_static/sphinx_highlight.js
  master/dock.html
  master/genindex.html
  master/grid.html
  master/index.html
  master/launcher.html
  master/objects.inv
  master/search.html
  master/searchindex.js
  master/toolbar.html
  master/troubleshooting/remote_access.html
Owners: @pcdshub/ui-sme

MNT: force resizing windows to the best possible size for your monitor setup
  lucid/main_window.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

Auto-update from Github Actions Workflow
  master/_static/documentation_options.js
  master/dock.html
  master/genindex.html
  master/grid.html
  master/index.html
  master/launcher.html
  master/objects.inv
  master/search.html
  master/toolbar.html
  master/troubleshooting/remote_access.html
Owners: @pcdshub/ui-sme

FIX/TST: relative paths, relocatable tests
  lucid/launcher.py
  lucid/main_window.py
  lucid/overview.py
  lucid/tests/TST_toolbar.yaml
  lucid/tests/conftest.py
  lucid/tests/test_dock.py
  lucid/tests/test_main_window.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

Auto-update from Github Actions Workflow
  master/_static/documentation_options.js
  master/dock.html
  master/genindex.html
  master/grid.html
  master/index.html
  master/launcher.html
  master/objects.inv
  master/search.html
  master/toolbar.html
  master/troubleshooting/remote_access.html
Owners: @pcdshub/ui-sme

FIX: force pvs to re-check access rights on reconnect
  lucid/hacks.py
  lucid/launcher.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

DOC: document the issue and the workaround
  lucid/hacks.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: pre-commit issues
  lucid/hacks.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

DOC: typo
  lucid/hacks.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

Auto-update from Github Actions Workflow
  master/_static/documentation_options.js
  master/dock.html
  master/genindex.html
  master/grid.html
  master/index.html
  master/launcher.html
  master/objects.inv
  master/search.html
  master/toolbar.html
  master/troubleshooting/remote_access.html
Owners: @pcdshub/ui-sme

Auto-update from Github Actions Workflow
  master/_static/documentation_options.js
  master/dock.html
  master/genindex.html
  master/grid.html
  master/index.html
  master/launcher.html
  master/objects.inv
  master/search.html
  master/toolbar.html
  master/troubleshooting/remote_access.html
Owners: @pcdshub/ui-sme

AUTO: apply dependabot and GHA SHAs
  .github/dependabot_template.yml
  .github/workflows/standard.yml
Owners: @pcdshub/software-admin

Auto-update from Github Actions Workflow
  master/_static/documentation_options.js
  master/dock.html
  master/genindex.html
  master/grid.html
  master/index.html
  master/launcher.html
  master/objects.inv
  master/search.html
  master/searchindex.js
  master/toolbar.html
  master/troubleshooting/remote_access.html
  versions.py
Owners: @pcdshub/ui-sme, @pcdshub/python-reviewers

AUTO: fix name of dependabot config file
  .github/dependabot.yml
Owners: @pcdshub/software-admin
