Repository pcdshub/lucid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pcdshub/ui-sme, @pcdshub/python-reviewers, @pcdshub/software-admin

.github/CODEOWNERS:

# default group
* @pcdshub/ui-sme

# language-specific group(s)
## PYTHON files
*.py @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyi @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyc @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyw @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyx @pcdshub/python-reviewers @pcdshub/ui-sme
*.pyd @pcdshub/python-reviewers @pcdshub/ui-sme

# github folder holds administrative files
.github/** @pcdshub/software-admin

Auto-update from Github Actions Workflow
  master/_static/basic.css
  master/_static/doctools.js
  master/_static/documentation_options.js
  master/_static/language_data.js
  master/_static/searchtools.js
  master/genindex.html
  master/grid.html
  master/index.html
  master/launcher.html
  master/objects.inv
  master/search.html
  master/searchindex.js
  master/toolbar.html
  master/troubleshooting/remote_access.html
Owners: @pcdshub/ui-sme

API: big changes, removals in prep for simplified docking
  .flake8
  .pre-commit-config.yaml
  LICENSE.md
  dev-requirements.txt
  docs-requirements.txt
  lucid/_version.py
  lucid/dock.py
  lucid/dock_shim.py
  lucid/dock_style.css
  lucid/dock_style_dark.css
  lucid/launcher.py
  lucid/main_window.py
  lucid/overview.py
  lucid/splash.py
  lucid/utils.py
  pyproject.toml
  requirements.txt
  uv.lock
Owners: @pcdshub/ui-sme, @pcdshub/python-reviewers

MNT: remove file that says it should not be tracked
  lucid/_version.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

MNT: do not track generated file
  .gitignore
Owners: @pcdshub/ui-sme

BLD: no longer using fuzzywuzzy, it can be removed
  lucid/utils.py
  pyproject.toml
  uv.lock
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

MNT: remove overlay and set some sizing rules
  lucid/main_window.py
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: nitpick dynamic sizing, restore maximize button
  lucid/dock.py
  lucid/launcher.py
  lucid/main_window.py
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: make the dock work! It's pretty nice
  lucid/dock.py
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: implement dock button
  lucid/dock.py
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: replace current tab in place
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: add closing docked tabs
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: set up buttons with icons for dock control
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: allow user the choose which screen is recalled to the dock
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

MNT: consolidate dock selection logic
  lucid/dock.py
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: if you edit a pydm screen linked in a dock button, pull the updated screen
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: restore stylesheet behavior for typhos screens, include pydm stylesheets in dock button
  lucid/dock.py
  lucid/utils.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

BLD: add pcdswidgets as a dev dependency because it is so commonly used in screens
  pyproject.toml
  uv.lock
Owners: @pcdshub/ui-sme

ENH: add rules for which widget starts in the dock on first open
  lucid/dock.py
  lucid/main_window.py
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

DOC: add docstrings to the code I added
  lucid/dock.py
  lucid/main_window.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

MNT: remove unused import that I commented out earlier
  lucid/launcher.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

DOC: update the lucid documentation to cover recent changes
  docs/source/_static/lucid_dock.png
  docs/source/dock.rst
  docs/source/index.rst
  docs/source/toolbar.rst
Owners: @pcdshub/ui-sme

DOC: grammar
  docs/source/toolbar.rst
Owners: @pcdshub/ui-sme

TST: update main window tests and slight cleanup
  .gitignore
  lucid/tests/conftest.py
  lucid/tests/dock1.ui
  lucid/tests/dock2.ui
  lucid/tests/test_main_window.py
Owners: @pcdshub/ui-sme, @pcdshub/python-reviewers

ENH: add tests for the dock, minor updates for testability
  lucid/dock.py
  lucid/tests/TST_toolbar.yaml
  lucid/tests/test_dock.py
  lucid/utils.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: small bugs with screen locations, overlapping windows, and repeated widgets in the detached_widgets list
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

STY: pre-commit run --all-files
  lucid/__init__.py
  lucid/tests/test_overview.py
  lucid/tests/test_utils.py
  lucid/version.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: add a little placeholder dock to make it clear the screen needs to be bigger
  lucid/main_window.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

DOC/MNT: add help text and fix a sizing rule I broke
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: make sure widgets returned to the dock by grid clicks are removed from the detached widgets pool
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

BLD: lockfile update
  uv.lock
Owners: @pcdshub/ui-sme

ENH: add context menu options for dock target to LucidDockButton
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

MNT: change argument name to make me happy and pylance mad
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: allow deferred loading of widgets to make menu feel snappy
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: implement right-click options for grid widgets to open for dock
  lucid/dock.py
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

DOC: add periods to make IDE text nicer
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: strange crash condition
  lucid/dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: if the click isn't on the menu somehow, ignore it
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: switch to mouse press event to avoid triggering on initial release from left click menu open
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

ENH: implement multi-docking fun
  lucid/dock.py
  lucid/main_window.py
  lucid/overview.py
  lucid/tests/test_dock.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme

FIX: disable pydm tool context menus for grid indicator lights
  lucid/overview.py
Owners: @pcdshub/python-reviewers, @pcdshub/ui-sme
